# environment variables
src/app/generated_cards/
.env
.env.*

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual environment
venv/
.venv/

# vscode
.vscode/

# streamlit secrets
.streamlit/secrets.toml

# system
.DS_Store

